.ng-select.custom {
    border:1px solid rgba(0, 0, 0, 0.15);
    height: 38px;
    border-radius: 0.25rem;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    font-family: sans-serif;
    
}

.ag-theme-alpine {
  --ag-header-foreground-color: white; /* Header text color */
  --ag-header-column-separator-display: block;
  --ag-header-background-color:#57adf4;
  --ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);

  --ag-foreground-color: rgb(14, 68, 145);
  /* Changes the color of the grid background */
  --ag-background-color: rgb(241, 247, 255);
  /* Changes the header color of the top row */
  --ag-header-background-color: rgb(228, 237, 250);
  /* Changes the hover color of the row*/
  --ag-row-hover-color: rgb(216, 226, 255);






}
::ng-deep .ng-select.custom .ng-dropdown-panel {
    margin-top: 10px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    background-color: #ccc;
  }

  .container {

   
    width: 100%;
    margin: auto;
    margin: 0 auto; /* Center the container */
    padding: 10px;
  }
  .form-container {
    border: 1px solid #333; /* Change the color and width as needed */
    padding: 20px; /* Add some padding for better appearance */
    border-radius: 5px; /* Optional: Add border radius for rounded corners */
    background-color: white; /* Optional: Add a background color */
  }
  .error-message{


    color:red
  }
  .custom-button {
    width: 20px;  /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    font-size: 20px; /* Adjust the font size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }

 