.ng-select.custom {
    border:1px solid rgba(0, 0, 0, 0.15);
    height: 38px;
    border-radius: 0.25rem;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    font-family: sans-serif;
    
}
::ng-deep .ng-select.custom .ng-dropdown-panel {
    margin-top: 10px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    background-color: #ccc;
  }



  .error-message{


    color:red
  }
  .custom-button {
    width: 20px;  /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    font-size: 20px; /* Adjust the font size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }

 