.ag-theme-alpine {
    --ag-header-foreground-color: white; /* Header text color */
    --ag-header-column-separator-display: block;
    --ag-header-background-color:black;
    --ag-cell-horizontal-border: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
  
    --ag-foreground-color: rgb(14, 68, 145);
    /* Changes the color of the grid background */
    --ag-background-color: white ;
    /* Changes the header color of the top row */
    --ag-header-background-color: #FFA1B5;
    /* Changes the hover color of the row*/
    --ag-row-hover-color: rgb(216, 226, 255);
  
    --ag-header-height: 20px;
  
  
  
  
  }